body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: rgb(18, 89, 7); 
}
.container {
    background: white;
    width: 46%;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid rgb(9, 119, 5)
}
h2{
    color: rgb(205, 253, 48);
}
hr {
    border: none;
    height: 2px;
    background: rgb(136, 248, 24);
    margin: 10px 0 20px 0;
}
p {
    line-height: 2;
    color: black;
}
.quote {
    border: 1px solid rgb(131, 8, 80);
    background: rgb(8, 155, 62);
    border-left: 5px solid rgb(178, 192, 241);
    padding: 15px;
    margin: 25px 0;
    font-style: italic;
    color: rgb(87, 249, 65);
    border-radius: 5px;
}
.author-box {
    display: flex;
    background: lightcyan;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(230, 166, 69);
    margin-top: 25px;
    gap: 15px;
}
.author-box img {
    border-radius: 8px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid rgb(64, 244, 85);
}
.author-box h3 {
    margin: 0 0 5px 0;
    color: rgb(53, 239, 112);
}
.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: lightgreen;
    color: rgb(105, 41, 23);
    padding: 12px 20px;
    border-radius: 10px;
}
.price {
    font-weight: bold;
    font-size: 18px;
}